@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(
    to right,
    #171730,
    #928176,
    #eead82
  ); /* Exemple de dégradé */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
}
